.pokemon-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgb(57, 57, 57);
    border-radius: 20px;
    padding: 1em
}

div {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.button-heart {
    display: flex;
    position: absolute;
    height: 40px;
}